<div class="sideNav">
    <div class="logopack">
            <img src="../../assets/img/cabsol.png" class="logoimg" width="70" height="70"/>
            <!-- <h3 class="companytxt">Cabsol Account</h3> -->
            <h4 class="companytxt">Merchant : NIRSAL-10112</h4>
    </div>
    <div class="menuitems">
<p class="navtext" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}><mat-icon class="navicn">dashboard</mat-icon>&nbsp; Executive Dashboard</p>
<p class="navtext" routerLink="usermanager" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}><mat-icon class="navicn">account_circle</mat-icon>&nbsp; User Manager</p>
<p class="navtext" routerLink="accounts" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}><mat-icon class="navicn">account_balance</mat-icon>&nbsp; Accounts <mat-icon class="navicnend">expand_more</mat-icon></p>
<p class="navtext" routerLink="transactions" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}><mat-icon class="navicn">assignment</mat-icon>&nbsp; Transactions <mat-icon class="navicnend">expand_more</mat-icon></p>

<!-- <p class="navtext" routerLink=""><mat-icon class="navicn">dashboard</mat-icon>&nbsp; Dashboard</p> -->
<mat-divider></mat-divider>
<!-- <h4 class="subheadtxt">Your Business</h4> -->
<p class="navtext" routerLink="invoice" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}><mat-icon class="navicn">receipt</mat-icon>&nbsp; Invoice</p>
<p class="navtext" routerLink="projects" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}><mat-icon class="navicn">book</mat-icon>&nbsp; Projects</p>
<p class="navtext" routerLink="fixedassets" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}><mat-icon class="navicn">business</mat-icon>&nbsp; Fixed Assets</p>
<p class="navtext" routerLink="inventory" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}><mat-icon class="navicn">inventory</mat-icon>&nbsp; Inventory</p>
<p class="navtext" routerLink="reports" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}><mat-icon class="navicn">table_chart</mat-icon>&nbsp; Reports <mat-icon class="navicnend">expand_more</mat-icon></p>
<p class="navtext" routerLink="epayment" routerLinkActive="active-link" [routerLinkActiveOptions]={exact:true}><mat-icon class="navicn">credit_card</mat-icon>&nbsp; E-payments</p>

        </div>
<!-- <div class="footer">
    <p class="navtextfoot" routerLink=""><mat-icon class="navicn">report</mat-icon>&nbsp; Report Mapping</p>
    <p class="navtextfoot" routerLink=""><mat-icon class="navicn">settings</mat-icon>&nbsp; Settings</p>
</div> -->
</div>

