.sideNav{
    flex:1;
    justify-content:center;
    flex-direction:row ;

    /* align-items: center; */
    /* background-color:#a2f5bf; */
    /* width:300px */
}
.logoimg{
    
    padding-top:10px;
    padding-bottom:10px
}
.menuitems{
    flex:1;
    justify-content:space-evenly;
    align-items: center;
    flex-direction:column;
    margin-top:10px;
    /* margin-left:25px; */
}
.logopack{
    flex:1;
    text-align:center;
    flex-direction: column;
}
.companytxt{
    /* margin:10px; */
    line-height: 10px;
    color:#3d4852
}
.subheadtxt{
    /* margin:10px; */
    line-height: 10px;
    color:#3d4852;
    padding-left:25px
}
.navtext{
    color:#606f7b;
    line-height:20px;
    cursor: pointer;
    align-items:center;
    /* flex-direction:row; */
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 25px
}
    .navtext:hover{
        background-color: #a2f5bf;
    }
    /* .navtext:active{
        color:#007d53;
        background-color: #a2f5bf;
    } */
.active-link{
    color:#007d53;
    background-color: #a2f5bf;
}
.navtextfoot{
    color:#606f7b;
    /* line-height:20px; */
    cursor: pointer;
    align-items:center;
    /* flex-direction:row; */
    padding-top:5px;
    padding-bottom:5px;
    margin-top:5px;
    margin-bottom:5px;
    padding-left: 25px
}
    .navtextfoot:hover{
        background-color: #a2f5bf;
    }
    /* .navtextfoot:active{
        color:#007d53;
        background-color: #a2f5bf;
    } */
.navicn{
    vertical-align: bottom;
}
.navicnend{
    vertical-align: bottom;
    float:right
}
.footer{
    flex:1;
    width:100%;
    margin-bottom:5px;
    bottom: 0;
    position:absolute
}