<mat-toolbar class="app-header">
    <div class="navitems">
    <a mat-button (click)="inputSideNav.toggle()" matTooltip="Toggle Menu" matTooltipPosition="below"><mat-icon  class="exticon">menu</mat-icon></a> &nbsp;&nbsp;&nbsp;
    <a mat-button matTooltip="Settings" matTooltipPosition="below" routerLink="settings" routerLinkActive="active-link"><mat-icon class="exticon">settings</mat-icon></a>&nbsp;&nbsp;&nbsp;    
    <a mat-button matTooltip="Report Mapping" matTooltipPosition="below" routerLink="reportmapping" routerLinkActive="active-link"><mat-icon class="exticon isactive">report</mat-icon></a>&nbsp;
    </div>
    <span class="nav-tool-items"></span>
          
    <span mat-button matTooltip="Profile" matTooltipPosition="below" class="prf" >
        <span class="nameimg ">{{initials}}</span>
    </span> 
    
            <!-- <a mat-button routerLink="login" routerLinkActive="active">Log in</a> -->
            <!-- <p class="">{{username}}</p>  -->
    <p class="typtxt">Administrator<br/> <i>Headquarters</i> </p> 
    <a mat-button><mat-icon matTooltip="Logout" matTooltipPosition="below" class="exticon">logout</mat-icon></a> 
    
          <!-- <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a> -->
  </mat-toolbar>

  <!-- for %i in (settings, dashboard, report-mapping, projects, accounts, transactions, user-manager, fixed-assets, inventory, reports, e-payments, ...) do ng g c components/%i --module app -->