.contner {
  flex: 1;
  overflow: hidden;
}
.contaner {
  flex: 1;
  overflow: hidden;
  /* margin-right:20px; */
}
.matContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenv {
  width: 15%;
  background-color: #e2fceb;
}
