<div class="container">
  <section class="left">
    <div class="banner">
      <h2>Excellence In IT <br />Services and Software <br />Development</h2>
      <h5>
        Comsoft Limited has a track record of successes and growth spanning over
        20 years.
      </h5>
      <p>&copy; 2018 COMSOFT LIMITED. All rights reserved</p>
      <img class="comsoft-logo" src="../../../assets/img/comsoft.png" alt="" />
    </div>
  </section>
  <section class="right">
    <div class="form-container">
      <div class="form-block">
        <form action="" method="">
          <h3>Sign in</h3>
          <button class="google-btn">
            <img
              src="../../../assets/img/google_logo.png"
              alt="Google Logo"
            />SIGN IN WITH GOOGLE
          </button>
          <div class="divider">or</div>
          <input type="text" placeholder="Email or Username" />
          <input type="password" placeholder="Password" />
          <button class="signin-btn">SIGN IN</button>
          <input type="checkbox" name="remember_me" id="remember_me" />
          Remember Me
        </form>
      </div>
      <p>Dont have an account? <a href="#">View Demo</a></p>
    </div>
  </section>
</div>
